.financing-bank-account-section {
  background-color: #002B4F;
    padding: 3rem 0;
    text-align: center;
    margin-top: 2rem;
}

.financing-bank-account-section h1 {
  font-size: 2rem;
    color: #AFD7E0;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.financing-paragraph {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.5;
  margin-left: 10px;
  text-align: center;
}

h3 {
  text-align: left;
  margin-top: 1.2rem;
  color: #ffffff;
  
}

li {
  color: white;
}



.financing-useful-links {
  background-color: #AFD7E0;
  color: #002B4F;
  float: left;
  padding: 0.8rem 1rem;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.financing-page-tips {
  
  line-height: 30px;
  margin-right: 350px;
  margin-left: 430px;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  text-align: left;
}

.financing-document1, .financing-document2, .financing-document3 {
  list-style-type: circle;
  margin-left: 15px;
}





.finance-useful-links-container {
  margin-left: 31%;
  
  background-color: #89abc1; /* Slightly lighter blue */
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  margin-top: 100px;
}

.finance-title {
  background-color: #B4D9E3; /* Light blue background */
  color: #07293D; /* Darker text color */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: left;
}

/* Link item styling */
.link-item {
  display: flex;
  align-items: center;
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

.link-item img {
  width: 50px; /* Logo size */
  height: auto;
  margin-right: 15px;
  border-radius: 4px;
}

.link {
  color: #0A2846; /* Link color (blue) */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.finance-mijnduo-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.finance-header {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #003b6f;
  padding-bottom: 10px;
}

.logo {
  width: 50px;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.finance-student-header {
  background-color: #003b6f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.finance-mijnduo-content p {
  margin: 10px 0;
}

.finance-mijnduo-content h2 {
  color: #003b6f;
  margin-top: 20px;
}

.student-finance-list, ul {
  margin-left: 20px;
}

a {
  color: #003b6f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}